@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-secondary-color: #6c757d;
  --bs-success-rgb: 0, 161, 134;
  --bs-text-opacity: 1;
  --navbar-active-color: 7, 132, 195, 0.9;
  --bs-main-content-linear-gradient-from: #fafbfd;
  --bs-main-content-linear-gradient-to: 246, 247, 248;
  --bs-card-box-shadow: 0 0.3rem 0.1rem rgba(33, 34, 36, 0.2);
}

.light {
  --bs-border-color: #e9ecef;
  --bs-search-section-color: rgb(8, 29, 53);
  --bs-secondary-color: #6c757d;
  --bs-bg-color: white;
  --bs-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
  --bs-text-color: rgba(55, 65, 81, 1);
  --bs-toggle-button-hover: #e9ecef;
  --bs-bg-icon-card: rgb(248, 249, 250);
  --bs-bg-footer: rgb(248, 249, 250);
}

.dark {
  --bs-border-color: #222;
  --bs-search-section-color: rgb(10, 10, 10);
  --bs-secondary-color: #bbb;
  --bs-bg-color: #111111;
  --bs-shadow: 0 0.5rem 1.2rem rbga(82, 85, 92, 0.15);
  --bs-text-color: rgba(229, 231, 235, 1);
  --bs-toggle-button-hover: rgba(55, 65, 81, 1);
  --bs-bg-icon-card: rgb(21, 21, 21);
  --bs-bg-footer: rgb(21, 21, 21);
}

.dim {
  --bs-border-color: #273343;
  --bs-search-section-color: rgb(11, 17, 32);
  --bs-secondary-color: #93a3b8;
  --bs-bg-color: #111a2e;
  --bs-shadow: 0 0.5rem 1.2rem rbga(82, 85, 92, 0.15);
  --bs-text-color: rgba(229, 231, 235, 1);
  --bs-toggle-button-hover: rgba(55, 65, 81, 1);
  --bs-bg-icon-card: rgb(22, 33, 56);
  --bs-bg-footer: rgb(22, 33, 56);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header,
main,
footer {
  display: block;
  unicode-bidi: isolate;
}

@layer components {
  .container-xxl {
    @apply w-full px-3 mx-auto md:px-5 min-[1400px]:max-w-[1400px]
  }

  .nav-item {
    @apply text-sm py-2 md:py-3
  }

  .nav-link {
    @apply flex items-center md:inline md:py-3 hover:text-[rgba(var(--navbar-active-color))]
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--bs-bg-color);
    background-clip: border-box;
    border: 1px solid var(--bs-border-color);
    border-radius: 0.75rem;
    box-shadow: var(--bs-shadow);
  }

  .card-header {
    padding: 1rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--bs-border-color);
  }

  .card-header:first-child {
    border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0 0;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1rem;
    color: var(--bs-card-color);
  }

  .card-footer {
    padding: 1rem 1rem;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-top: 1px solid var(--bs-border-color);
  }

  .card-footer:last-child {
    border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 1px);
  }

  .btn {
    --bs-btn-padding-x: 0.6rem;
    --bs-btn-padding-y: 0.3rem;
    --bs-btn-font-size: 0.9062rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.5rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.15rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-border-color);
    border-radius: var(----bs-btn-border-radius);
    background-color: #fff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-toggle-button-hover);
  }

  .btn-sm {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.78515625rem;
    --bs-btn-border-radius: 0.375rem
  }

  .btn-white {
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #e9ecef;
    --bs-btn-hover-border-color: #e9ecef;
    --bs-btn-hover-bg: #e9ecef;
    --bs-btn-active-bg: #e9ecef;
    --bs-btn-active-border-color: #e9ecef;
    --bs-btn-disabled-border-color: #e9ecef;
    --bs-btn-disabled-bg: #e9ecef;
    --bs-btn-active-border-color: #e9ecef;
  }

  .text-cap {
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #6c757d;
    font-weight: 400;
  }

  .text-muted {
    color: var(--bs-secondary-color);
  }

  .text-success {
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
  }

  .bg-image {
    background-image: url('/imgs/abstract-shapes-20.svg');
  }

  .link-muted {
    color: var(--bs-secondary-color);
  }

  .link-muted:hover {
    color: #066ac9;
  }

  .modal-wrapper {
    width: 500px;
    height: 600px;
  }

  .modal {
    background: white;
    width: 100%;
    border-radius: 15px;
  }

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}